/* Animations */

@keyframes rotate {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
}

@keyframes rotate-ccw {
        from { transform: rotate(0deg); }
        to { transform: rotate(-360deg); }
}


footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#map {
	display: none;
	height: 40vh;
	width: 100%;
	margin-bottom: 1rem;
}

#advanced {
	margin-bottom: .5rem;
	padding-bottom: 1.5rem;
}

#advanced-details summary {
	font-weight: 600;
	margin-bottom: .5rem;
}

#advanced-query-embeddings-wrapper {
	display: none;
}

#geocode-spinner {
        animation: rotate 5s linear infinite;
        transform-origin: center;
}

#geocode-spinner-svg {
	display:none;
	margin-right:.5rem;
}

#advanced-geocode-spinner {
        animation: rotate 5s linear infinite;
        transform-origin: center;
}

#advanced-geocode-spinner-svg {
	display:none;
	margin-left:.5rem;
}

#results {
	max-height: 40vh;
	overflow-y: scroll;
	font-size: small;
	display: none;
	border: 1px solid #eee;
}

#feedback {
	font-size:small;
}

#pagination {
	margin-bottom: 1rem;
	font-weight: 700;
}

.id-link {
	font-weight: 700;
	text-decoration: underline;
}

.pagination-link {
	text-decoration: underline;
}

.selected {
	font-weight: 700!important;
}
