.geocoder-dialog {
    width: 50vw;
    border:2px solid #8a741d;
    padding:1rem;
    background-color:#fff;
    z-index: 20000;
    margin-top:10vh;
}

.geocoder-dialog-add{
    float:right;
    margin-top:1rem;
}

.geocoder-dialog-close{
    float:right;
    margin-bottom:1rem;
}

.geocoder-dialog-navbar {
    border-bottom: 1px solid thin;
    padding-bottom:1rem;
}

.geocoder-dialog-body {
    max-height:250px;
    overflow:scroll;
}


.geocoder-dialog-feedback {

}

.geocoder-dialog-results {

}

.geocoder-dialog-term {
    border:solid thin;
    border-radius: 0px;
    margin-right:.5rem;
}

.geocoder-dialog-search {

}

.geocoder-dialog-close {
    display:block;
    float:right;
}
